
<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                    [(ngModel)] = 'listFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
                <!-- *ngIf if product table is there and it contains some products -->
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                (click) = 'toggleImage()'>
                                {{showImage ? 'Hide ':'Show '}}image
                            </button>
                        </th>
                        <th>Products</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Since we don't want to hard code our products here so we leave it empty -->
                    <!-- let product of filterProduct this bind our variable product to filterProduct property -->
                    <tr *ngFor = 'let product of filterProduct'><!-- tr: table row, td: table data -->
                        <td>
                            <img  *ngIf= 'showImage'
                                    [src] = 'product.imageUrl'
                                    [title] = 'product.productName'
                                    [style.width.px] = 'imageWidth'
                                    [style.margin.px] = 'imageMargin'>
                        </td>
                        <td> <a [routerLink] = "['/products',product.productId]">{{product.productName}}</a></td>
                        <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>
                            <!-- we want to process the component on getting clicked so we define the method with event binding-->
                            <pm-star [rating] ='product.starRating' 
                                    (ratingClicked) = 'onRatingClicked($event)'>
                            </pm-star>
                        </td>
                        
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>